In [1]:
# Import libraries
import pandas as pd
import os

In [4]:
file_path = os.path.join("..","resources","data","iris.csv")
file_path

'..\\resources\\data\\iris.csv'

In [5]:
iris_df = pd.read_csv(file_path)
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [6]:
# drop a column
new_iris_df = iris_df.drop(['class'],axis=1)

In [7]:
new_iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [10]:
# reorder
new_iris_df = new_iris_df[['sepal_length','petal_length','sepal_width','petal_width']]

In [9]:
new_iris_df.head()

   sepal_length  petal_length  sepal_width  petal_width
0           5.1           1.4          3.5          0.2
1           4.9           1.4          3.0          0.2
2           4.7           1.3          3.2          0.2
3           4.6           1.5          3.1          0.2
4           5.0           1.4          3.6          0.2

In [12]:
output_file_path = os.path.join("..","resources","data","new_iris_data.csv")
output_file_path

'..\\resources\\data\\new_iris_data.csv'

In [13]:
# save file
new_iris_df.to_csv(output_file_path, index=False)